.cw-200{
    width: 200px;
}
.cw-100{
    width: 100px;
}
.cw-300{
    width: 300px;
}
.cw-250{
    width: 250px;
}
.circular{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.paper-shadow {
    box-shadow: 2px 2px 5px 5px #0c5460;
}
.h-38{
    height: 38px;
    z-index: 200;
}
.floating-wrapper{
    z-index: 200;
    height: 38px;
    background: blue;
    color: white;
    border-radius: 5%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_d-none{
    display: none;
}
.center-textarea {
    display: block;
    margin: 0 auto;
}
.c-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-dark{
    background-color: black !important;
    color: white !important;
}
.c-fscrn{
    height: 100%;
    width: 100%;
}
.c-table{
    border-spacing: 30px 30px !important;
    border-collapse: separate
}